*.class
*.jar
/build/
/dist/
nbproject/private/
.idea/
.vscode/
*.iml
/build/
out/
*.log
*.class
# Java
*.class
*.jar
*.war
*.ear
*.iml

# NetBeans
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/

# IDEs
.idea/
.vscode/
/utils/target/
/SET-MAP/Tarea5C/target/
/Marcel/src/main/java/p61Figuras/target/
