* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fix {
  position: fixed;
}

.center {
  margin: 0 auto;
}

.border {
  border: 1px solid black;
}

.max-w-65 {
  max-width: 65%;
}

h1 {
  background-color: SkyBlue;
  text-align: right;
  font-style: oblique;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  background-color: SkyBlue;
}

#contenido {
  padding-top: 1rem;
}

.cont {
  margin-bottom: 2rem;
}

.cont h2 {
  padding-left: .8rem;
}

.cont p {
  padding: .8rem;
}

#css {
  bottom: 1rem;
  right: 1rem;
}

#indice {
  margin-left: 10px;
}

td {
  width: 2rem;
  height: 2rem;
  text-align: center;
}

.white {
  color: white;
}

.azul {
  background-color: blue;
}

.verde {
  background-color: green;
}

.rojo {
  background-color: red;
}

.amarillo {
  background-color: yellow;
}

address {
  bottom: 0;
  left: 0;
}
