* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-1 {
  width: 60px;
  height: 60px;
}

.w-2 {
  width: 400px;
  height: 400px;
}

div {
  position: absolute;
}

.border {
  border-width: 2px;
  border-style: solid;
}

.div-1 {
  top: 0;
  left: 0;
  border-color: blue;
}

.div-2 {
  top: 70px;
  left: 100px;
  border-color: lime;
}

.div-3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: aqua;
}

.div-4 {
  top: 25%;
  right: 25%;
  border-color: aqua;
}

.div-5 {
  bottom: 50%;
  right: 50%;
  border-color: orange;
}

.div-6 {
  top: 50%;
  left: 50%;
  border-color: red;
}

.div-7 {
  top:50%;
  right: 0%;
  border-color: pink;
}

.div-8 {
  bottom: 0;
  left: 0;
  border-color: green;
}

.line {
  width: 50%;
  height: 50%;
  border-width: 2px;
  border-color: gray;
}

.line-1 {
  top: 0;
  left: 0;
  border-style: none dashed dashed none;
}

.line-2 {
  top: 50%;
  right: 0;
  border-style: dashed none none dashed;
}
